    <div>
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'info:home' %}">BloodBank</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="offset-md-7 collapse navbar-collapse justify-content-md-center text-center" id="navbarSupportedContent">

              <a class="navbar-brand" href="{% url 'info:blood-entry' %}">Entry Record</a>


            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'info:home' %}">
                {% csrf_token %}
              <input class="form-control mr-sm-2" type="search"
                     placeholder="Search"
                     name="query"
                     aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </header>

    </div>